@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		padding: 0;
		margin: 0;

		@apply hero;
	}

	body {
		margin: 0 auto;
		background-color: white;
		@apply max-w-app;
	}

	h1 {
		@apply text-xl font-medium leading-[1.2] sm:text-4xl sm:leading-[1.4] uppercase my-4;
	}
	h2 {
		font-size: 1.875rem;
		line-height: 1.25;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.25rem;
		line-height: 1.2;
		text-transform: uppercase;
	}
}

@layer components {
	.btn-primary {
		@apply bg-primary text-white px-3 py-1.5 rounded-md text-base cursor-pointer uppercase;
	}

	.btn-secondary {
		@apply bg-secondary text-primary px-3 py-1.5 rounded-md text-base cursor-pointer uppercase;
	}

	.btn-primary:hover,
	.btn-secondary:hover {
		@apply opacity-80;
	}
	.hero {
		background-color: #c56d92;
		background-image: linear-gradient(
			168deg,
			#c56d92 0%,
			#851440 36%,
			#851440 66%,
			#c56d92 100%
		);
	}
	.nav-icon {
		@apply text-[25px]  cursor-pointer relative transition-transform duration-300 ease-in-out border-none bg-transparent hover:scale-110;
	}
}
