.navbar {
	@apply md:px-8  bg-white h-14 flex items-center justify-between md:h-24 fixed w-full lg:gap-x-8 z-10 max-w-app;
}

.vl {
	@apply border-l border-l-gray-300 h-4 md:h-6 px-0.5;
}

.nav-icons {
	@apply cursor-pointer;
}
.element {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav-link {
	@apply uppercase hidden lg:block cursor-pointer text-sm tracking-[0.9px] hover:border-b-2 hover:transition hover:border-b-black font-bold;
}
